*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box; 
}
@font-face {
    font-family: bangers;
    src: url(./Bangers/Bangers.ttf);
}
body{
    background-color: #26bded;
}

nav{
    background-image: url("img/brillos.png") ;
    z-index: 100;
}

a {
    font-family: bangers;
    font-size: 36px;

}


#imagen{
    width: 5%;
}
.inicio{
    display: flex;    
    justify-content:center;
}

.animator span {
    position: absolute;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    transition: 0.9s;
}
.container{
    max-width: 420px;
    height: 100vh;
    max-height: 745px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #ffb74d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
    
}
button{
    border: 4px solid black;
    margin: 5px;
}
footer{
    text-align: center;
    padding: 10px;
}
#result{
    text-align: center;
}
#result img{
    width: 20%;
    border: 1px solid black;
    margin: 5px;
}

#start-text{
    font-family: bangers;
    font-size: 36px;

}

#group-btn{
    display: flex;
    width: 100%;
    z-index: 100;
}
#group-btn > button > img{
    width: 100%;
    padding: 5px 5px 5px 5px;
    z-index: 100;
}